<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule img/(.*)  webroot/img/$1 [L]
	RewriteRule files/(.*)  webroot/files/$1 [L]
	RewriteRule css/(.*)  webroot/css/$1 [L]
	RewriteRule js/(.*)  webroot/js/$1 [L]
	RewriteRule farms index.php?page=farms [L]
	RewriteRule farm_add index.php?page=farm_add [L]
	RewriteRule farm_edit/(.*) index.php?page=farm_edit&id=$1 [L]
	RewriteRule packages index.php?page=packages [L]
	RewriteRule logout index.php?page=logout [L]


	ErrorDocument 403 http://project.dropyourstore.com/pak/
	ErrorDocument 404 http://project.dropyourstore.com/pak/
</IfModule>
