<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule image/(.*)  webroot/img/$1 [L]
	RewriteRule image_store/(.*)  webroot/files/$1 [L]
	RewriteRule image_blog/(.*)  webroot/img/bloges/$1 [L]
	RewriteRule css/(.*)  webroot/css/$1 [L]
	RewriteRule js/(.*)  webroot/js/$1 [L]


  RewriteRule farms/ index.php?page=farms [L]

	RewriteRule ckeditor/(.*)  webroot/ckeditor/$1 [L]
	RewriteRule store/(.*) index.php?page=store&id=$1 [L]
	RewriteRule yourStore/deleteStock/(.*)/(.*) index.php?page=yourStore&action=deleteStock&id=$1&stock=$2 [L]
	RewriteRule yourStore/edit/(.*) index.php?page=yourStore&action=edit&id=$1 [L]
	RewriteRule yourStore/delete/(.*) index.php?page=yourStore&action=delete&id=$1 [L]
	RewriteRule yourStore/(.*) index.php?page=yourStore&action=$1 [L]
	RewriteRule yourStore index.php?page=yourStore [L]
	RewriteRule admin/setApprove/(.*) index.php?page=admin&action=setApprove&id=$1 [L]
	RewriteRule admin/setUnapprove/(.*) index.php?page=admin&action=setUnapprove&id=$1 [L]
	RewriteRule admin/setBlock/(.*) index.php?page=admin&action=setBlock&id=$1 [L]
	RewriteRule admin/setUnblock/(.*) index.php?page=admin&action=setUnblock&id=$1 [L]
	RewriteRule admin/setUpdate/(.*) index.php?page=admin&action=setUpdate&id=$1 [L]
	RewriteRule admin/setDelete/(.*) index.php?page=admin&action=setDelete&id=$1 [L]
	RewriteRule admin/blog/(.*) index.php?page=admin&action=blog&id=$1 [L]
	RewriteRule admin/(.*) index.php?page=admin&action=$1 [L]
	RewriteRule admin/ index.php?page=admin [L]
	RewriteRule login/ index.php?page=login [L]
	RewriteRule logout/ index.php?page=logout [L]
	RewriteRule stores/all/(.*) index.php?page=stores&type=all&pagi=$1 [L]
	RewriteRule stores/fashions/(.*) index.php?page=stores&type=fashions&pagi=$1 [L]
	RewriteRule stores/hat/(.*) index.php?page=stores&type=hat&pagi=$1 [L]
	RewriteRule stores/glasses/(.*) index.php?page=stores&type=glasses&pagi=$1 [L]
	RewriteRule stores/scarf/(.*) index.php?page=stores&type=scarf&pagi=$1 [L]
	RewriteRule stores/shirt/(.*) index.php?page=stores&type=shirt&pagi=$1 [L]
	RewriteRule stores/pants/(.*) index.php?page=stores&type=pants&pagi=$1 [L]
	RewriteRule stores/sock/(.*) index.php?page=stores&type=sock&pagi=$1 [L]
	RewriteRule stores/shoes/(.*) index.php?page=stores&type=shoes&pagi=$1 [L]
	RewriteRule stores/fashion/(.*) index.php?page=stores&type=fashion&pagi=$1 [L]
	RewriteRule stores/accessory/(.*) index.php?page=stores&type=accessory&pagi=$1 [L]
	RewriteRule stores/sport/(.*) index.php?page=stores&type=sport&pagi=$1 [L]
	RewriteRule stores/farm/(.*) index.php?page=stores&type=farm&pagi=$1 [L]
	RewriteRule stores/beauty/(.*) index.php?page=stores&type=beauty&pagi=$1 [L]
	RewriteRule stores/search index.php?page=stores&type=search [L]
	RewriteRule stores/(.*) index.php?page=stores&type=$1 [L]
	RewriteRule stores/ index.php?page=stores [L]
	RewriteRule aboutUs/ index.php?page=aboutUs [L]

	#ErrorDocument 400 http://project.dropyourstore.com/pak/
	#ErrorDocument 401 http://project.dropyourstore.com/pak/
	#ErrorDocument 403 http://project.dropyourstore.com/pak/
	#ErrorDocument 404 http://project.dropyourstore.com/pak/
	#ErrorDocument 500 http://project.dropyourstore.com/pak/
</IfModule>
