/* font color */
/* backgroud color */
/* border color */
.navbar-default {
  background-color: #7a52b5;
  border: 0; }

.navbar-brand > img {
  width: 128px; }

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #ffffff; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #8b71d6;
  color: #ffffff; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #8b71d6;
  color: #ffffff; }

.navbar-default .navbar-brand {
  color: #ffffff; }

.navbar-default .navbar-nav > li > a {
  color: #dbd5e1; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: #8b71d6;
  color: #ffffff; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #8b71d6;
  color: #ffffff; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #8b71d6; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff; }

.dropdown-menu {
  background-color: #7a52b5;
  border: 0; }

.dropdown-menu > li > a {
  color: #dbd5e1; }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: #8b71d6;
  color: #ffffff; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: #8b71d6; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #dbd5e1; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #ffffff; }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
    background-color: #8b71d6;
    color: #ffffff; } }
.form-group.title {
  font-size: 26px;
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: double 4px #999999;
  color: #7a52b5; }

.btn-default {
  color: #ffffff;
  background-color: #8b71d6;
  border-color: #CCCCCC; }

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:hover, .btn-default:active:focus {
  color: #ffffff;
  background-color: #BAA9ED; }

label.control-label.detail {
  text-align: left !important;
  font-weight: normal; }

.table > thead > tr > th {
  border-bottom: 0px;
  background: #E0CAFF;
  text-align: center;
  vertical-align: middle; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border: 1px solid #ffffff; }

.table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; }

.main-image {
  width: 100%; }

.form-upload {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none; }

.form-pdf {
  width: 100%;
  height: 500px; }

.fb-page blockquote {
  border: 0px;
  font-size: 14px;
  padding: 0px; }

.note {
  margin-top: 20px; }

.note h4 {
  text-decoration: underline;
  font-weight: bold; }

.agenda-header {
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
