<div class="row">
  <div class="col-md-12">
    <a class="btn btn-default" href="#/Farm/add" title="Add new farm">New</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Name</th>
          <th class="text-center">Products</th>
          <th class="text-center">Packages</th>
          <th class="text-center">Tools</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, item) in data track by $index">
          <td class="text-center">{{ $index + 1}}</td>
          <td>{{ item.name }}</td>
          <td class="text-center">
            <ul class="list-inline">
              <li ng-repeat="(keyProduct, product) in item.products track by $index">{{ keyProduct }}</li>
            </ul>
          </td>
          <td class="text-center">{{ item.packages.length }}</td>
          <td class="text-center">
            <a href="#/Farm/edit/{{ key }}">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
