<form method="post" name="farm">
  <div class="form-group">
    <label class="control-label">Name</label>
    <div>
      <input class="form-control" ng-model="data.name" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Products</label>
    <div>
      <div class="btn btn-default" ng-click="AddProduct()" title="Add Products">Add Products</div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="item in data.products track by $index">
        <div class="form-group">
          <label class="control-label">Name</label>
          <div>
            <input class="form-control" ng-model="item.name" type="text">
          </div>
          <label class="control-label">Capacity - Amount</label>
          <div>
            <input class="form-control" ng-model="item.amount" type="text">
          </div>
          <label class="control-label">Per</label>
          <div>
            <select class="form-control" ng-model="item.per">
              <option value="day">Day</option>
              <option value="week">Week</option>
              <option value="month">Month</option>
            </select>
          </div>
          <label class="control-label">Unit</label>
          <div>
            <input class="form-control" ng-model="item.unit" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Packages</label>
    <div>
      <div class="btn btn-default" ng-click="AddPackage()" title="Add Packages">Add Packages</div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="item in data.packages track by $index">
        <div class="form-group">
          <label class="control-label">Name</label>
          <div>
            <input class="form-control" ng-model="item.name" type="text">
          </div>
          <label class="control-label">Delivery Area</label>
          <div>
            <input class="form-control" ng-model="item.delivery_area" type="text">
          </div>
          <label class="control-label">Items
            <div class="btn btn-default" ng-click="AddPackageItem(item.items)" title="Add Items">Add Items</div>
          </label>
          <div ng-repeat="product in item.items track by $index">
            <div class="col-xs-4 no-padding">
              <input class="form-control col-xs-1" ng-model="product.name" placeholder="item" type="text">
            </div>
            <div class="col-xs-4 no-padding">
              <input class="form-control" ng-model="product.amount" placeholder="amount" type="text">
            </div>
            <div class="col-xs-4 no-padding">
              <select class="form-control" ng-model="product.type">
                <option value="organic">Organic</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label"></label>
    <div>
      <button class="btn btn-default" ng-click="EditFarm()">Save</button>
    </div>
  </div>
</form>
